<html lang="en">

<!-- no redirect urls, date validation, password validation -->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <div class="container-sm" style="max-width: 600px;">
        <div class="card text-center">
            <div class="card-title">
                <h3>Reset your password </h3>
                <p>We'll email you instructions to reset the password, if account exists.</p>
            </div>
            <div class="card-body">
                <form method="POST", action="{{url_for('password_reset')}}">
                    <div class="form-floating mb-3">
                        <span></span>
                        <input type="email" name="mail" class="form-control" id="floatingInput" placeholder="-" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div style="padding-top: 5%;">
                        <button class="btn btn-primary form-control" type="submit"> Sign up </button>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-white">
                <a href="javascript:history.back()">
                    <button class="form-control btn text-primary"> Return to log in</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>