<html lang="en">

<!-- no redirect urls, date validation, password validation -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <div class="container-sm" style="max-width: 600px;">
        <div class="card text-center">
            <div class="card-title">
                <h3>Sign up</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="{{url_for('register_user')}}">
                    <div class="row g-2">
                        <div class="col-md mb-3">
                            <div class="form-floating">
                                <input type="text" name="fname" class="form-control" id="fname" placeholder="-" required>
                                <label for="fname">First Name</label>
                            </div>
                        </div>
                        <div class="col-md mb-3">
                            <div class="form-floating">
                                <input type="text" name="lname" class="form-control" id="lname" placeholder="-" required>
                                <label for="lname">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <span></span>
                        <input type="email" name="mail" class="form-control " id="floatingInput" placeholder="-" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" name="birthdate" class="form-control" id="dob" placeholder="-" required>
                        <label for="dob">Date of birth</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="pwd" class="form-control" id="floatingPassword" placeholder="-" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                    </svg>
                    <div class="alert alert-danger d-flex align-items-center" role="alert" >
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill" />
                        </svg>
                        <div id="alert">
                            {{alert}}
                        </div>
                    </div>
                    <div style="padding-top: 5%;">
                        <button class="btn btn-primary form-control" type="submit"> Sign up </button>
                        <span><small>By clicking the "Sign up" button, you are creating an account, and agree to
                                Company' <a href="#" style="text-decoration: none;">Terms of Service </a> and <a href="#" style="text-decoration: none;">Privacy Policy</a></small></span>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-white">
                <a href="javascript:history.back()" >
                    <button class="form-control btn text-primary"> Already have an account? Log in</button>
                </a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(() => {
        console.log($('#alert').text().trim());
        if (!$('#alert').text().trim().length) {
            $('.alert').remove()

        }else{
            $('#floatingInput, #floatingPassword').addClass('is-invalid')
        }
        // dynamic form validation on typing, enable button once valid
    })
</script>
</body>

</html>